
.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #A079FF;
    }

#footer1 {
    background: #2B399B;
}

#footer2 {
    background: #2B399B;
}



.btn-2b399b {
    background-color:  #2B399B !important;
    border-color: #A079FF !important;
    color: #fff !important;
}

    /* Optional hover/active/focus states to match the theme */
    .btn-2b399b:hover,
    .btn-2b399b:focus {
        background-color: #23307F !important; /* a slightly darker shade */
        border-color: #23307F !important;
        color: #fff !important;
    }

 
